@charset "UTF-8";

.comment-by-viewer {
  background: darken($well-bg, 5%);
}

.comment-wrapper {
  .indented {
    margin-left: 30px;
  }
}

.not-logged-in {
  .comment_forbidden {
    display: none;
  }
}
