@charset "UTF-8";

.panel-heading {
  display: flex;
  justify-content: space-between;

  h4 {
    margin-right: auto;
  }

  .flex-baseline {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 5px;
  }

  .field-label {
    text-transform: capitalize;
    font-weight: normal;
  }
}

