@charset "UTF-8";

.table-striped {
  .img-responsive {
    display: inline;
    max-width: none;
  }
  th {
    a {
      white-space: nowrap;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    > tbody {
      > tr {

        &:nth-of-type(odd) {
          background: none;
        }
        &:hover {
          > td {
            &.active {
              background: none;
            }
          }
        }

        > td {
          border: 0;

          &.active {
            background: none;
          }
        }
      }
    }
  }
}
